html,

body {
  height: 100%;
  width: 100%;
  background: #222;
  background: radial-gradient(#333, #111);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font: 100%/1.5 sans-serif;
}

#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
}

#contenedor{
position: relative;
width: 80%;
margin-right: 10%;
margin-left:10%;
display: flex;
justify-content: center;

}
#puntaje{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
  text-align: center;
  margin: 10px;
}

#responseNombreUsuario, #responseMaxPuntaje, #responseDificultad{
    text-align: center;
    color: #c1c1c1;
}

#texto3d{
  font-size: 2.5em;
  text-align: center;
  color: #fff;

  margin-bottom: 30px;
  text-shadow: 2px 2px #000,
             1px 1px hsla(202, 71%, 31%, 1),
             2px 2px hsla(202, 71%, 31%, 1),
             3px 3px hsla(202, 71%, 31%, 1),
             4px 4px hsla(202, 71%, 31%, 1),
             5px 5px hsla(202, 71%, 31%, 1),
             6px 6px hsla(202, 71%, 31%, 1),
             7px 7px hsla(202, 71%, 31%, 1),
             8px 8px hsla(202, 71%, 31%, 1),
             9px 9px hsla(202, 71%, 31%, 1),
             10px 10px hsla(202, 71%, 31%, 1),
             11px 11px hsla(202, 71%, 31%, 1),
             12px 12px hsla(202, 71%, 31%, 1),
             13px 13px hsla(202, 71%, 31%, 1),
             14px 14px hsla(202, 71%, 31%, 1),
             15px 15px hsla(202, 71%, 31%, 1),
             16px 16px hsla(202, 71%, 31%, 1),
             17px 17px hsla(202, 71%, 31%, 1),
             18px 18px hsla(202, 71%, 31%, 1),
             19px 19px hsla(202, 71%, 31%, 1),
             20px 20px hsla(202, 71%, 31%, 1),
             21px 21px hsla(202, 71%, 31%, 1),
             22px 22px hsla(202, 71%, 31%, 1),
             23px 23px hsla(202, 71%, 31%, 1),
             24px 24px hsla(202, 71%, 31%, 1),
             25px 25px hsla(202, 71%, 31%, 1),
             26px 26px hsla(202, 71%, 31%, 1),
             27px 27px hsla(202, 71%, 31%, 1),
             28px 28px hsla(202, 71%, 31%, 1),
             29px 29px hsla(202, 71%, 31%, 1),
             30px 30px hsla(202, 71%, 31%, 1),
             31px 31px hsla(202, 71%, 31%, 1),
             32px 32px hsla(202, 71%, 31%, 1),
             33px 33px hsla(202, 71%, 31%, 1),
             34px 34px hsla(202, 71%, 31%, 1),
             35px 35px hsla(202, 71%, 31%, 1),
             36px 36px hsla(202, 71%, 31%, 1),
             37px 37px hsla(202, 71%, 31%, 1),
             38px 38px hsla(202, 71%, 31%, 1),
             39px 39px hsla(202, 71%, 31%, 1),
             40px 40px hsla(202, 71%, 31%, 1);
  transform: rotate(-6deg);
}


.modal-header {
    background: #202020;
    color: #ffffff;
}

.modal-body {
    background: #202020;
    color: #ffffff;
}

.modal-body ul li a {
    text-align: center;
    background: #202020;
    color: #ffffff;
}

.modal-footer {
    background: #202020;
    color: #ffffff;
}


#canvasGame{
    position: relative;

    /*border: $line-color 1px solid;
   */ box-shadow: 0px 0px 20px black;
   /* width: $width;
   /* background-color: #eee;
*/
    background-image: -webkit-linear-gradient(45deg, blue 25%,
transparent 25%, transparent 75%, blue 75%, blue),
-webkit-linear-gradient(45deg, blue 25%, transparent 25%,
transparent 75%, blue 75%, blue);

    background-image: -moz-linear-gradient(45deg, blue 25%,
transparent 25%, transparent 75%, blue 75%, blue),
-moz-linear-gradient(45deg, blue 25%, transparent 25%,
transparent 75%, blue 75%, blue);

    background-image: linear-gradient(45deg, rgba(94, 111, 135, 1) 25%, transparent 0%,
transparent 0%, rgba(94, 111, 135, 1) 75%, rgba(94, 111, 135, 1)), linear-gradient(45deg, rgba(94, 111, 135, 1) 25%,
transparent 0%, transparent 0%, rgba(94, 111, 135, 1) 75%, rgba(94, 111, 135, 1));

    background-size:20px 20px;
    background-position:0 0, 10px 10px;

      background: #222;
 /* background: radial-gradient(#333, #111);
  */background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}




